version: ~> 1.0
os: linux
language: python
# Supported Ubuntu/Python version combinations are documented on
# https://docs.travis-ci.com/user/languages/python/#python-versions
dist: xenial
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install: pip install tox-travis
script: tox
